$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-icon-bookmark-empty: "\e900";
$icon-icon-bookmark-full: "\e901";
$icon-icon-category-movie: "\e902";
$icon-icon-category-tv: "\e903";
$icon-icon-nav-bookmark: "\e904";
$icon-icon-nav-home: "\e905";
$icon-icon-nav-movies: "\e906";
$icon-icon-nav-tv-series: "\e907";
$icon-icon-play: "\e908";
$icon-icon-search: "\e909";
$icon-logo: "\e90a";

